/*GENERALES*/
*{
   
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
}

body{
 background-color: rgba(202, 200, 200, 0.082);
}
a{
    color: #01B1EA;
}
a:visited{
    color: #01B1EA;
}
a:hover{
    color:#555;
}
/*CONTAINER*/
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px grey;
    background: white;

}
.boton-link a{
color: white;
text-decoration: none;
}
.boton-link{
    
    background-color: #1579b5;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}
.boton-link:hover{
    background-color: #e2e4e6;
    box-shadow: 2px 2px 5px rgb(182, 177, 177);
}
.buttons{
    color: white;
    width: 100%;
   align-items: center;
}
/*HEADER*/
#header{
 
    height: 145px;

    background: #ffffff;
}
#logo {

    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height:180px;

}
#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 15px;
    text-shadow: 0px 2px 1px #b3b1b1;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow:0px 7px 8px #b3b1b1; ;
}



/*MENU*/

#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 60px;
}
#menu li ul{
    display: none;
    
    position: absolute;
    min-width: 140px;
    background-color: black;
}
#menu li:hover >ul {
    display:block ;
  
}

#menu li a{
 
    color: white;

    text-decoration: none;
   
    display: block;
}
#menu li a:hover{
    background-color: white;
    color: black;
}
#menu > li{
    float: left;
}
#menu ul li{
  line-height: 55px;
  float: left;
  border-right:1px solid #363636 ;

}

#menu a{ 
    display: block;
   color: white;
   text-decoration: none;
 
   padding-left: 15px;
   padding-right: 15px;
   transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background-color: #01B1EA;
}




#content{
    padding: 20px;
   margin: 0px auto;
   overflow: hidden;
   background: white;

}
/*BARRA LATERAL*/

#lateral{
    width: 21%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
  
}
#lateral .block-aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    box-shadow:0px 2px 1px rgba(116, 114, 114, 0.411);
    border: 1px solid rgba(206, 205, 205, 0.411);;

    
}
#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA; 


}

/*FORMS*/
.form_container{
    width: 50%;
}
input[type='text'],
input[type='email'],
input[type='number'],
textarea,
select,
input[type='password']
{
    display: block;
    width: 95%;
    height: 30px;
   padding: 10px;
    margin-bottom: 25px;

}




input[type='text'],
input[type='email'],
input[type='number'],
textarea,
input[type='password'],
select{
    border:1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}



input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus
{
border: 1px solid #1579b5;
color: black;
}
.button-red{
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: red;
    display: block;
    
    transition: all 300ms;
   }
   .button-red:hover{   background-color: #e2e4e6;
    box-shadow: 2px 2px 5px rgb(182, 177, 177);}
   .button-gestion{
    margin-top: 23px;
    margin-bottom: 5px;
    display: block;
    background: #1579b5;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 300ms;
   }
   .button-gestion:hover{
    background-color: #e2e4e6;
    box-shadow: 2px 2px 5px rgb(182, 177, 177);
   }
input[type='button'],
input[type='submit'],
button{
    margin-top: 10px;
    display: block;
    border-radius: 2px;
    width: 50%;
    padding: 10px;
    color: white;
    background: #1579b5;
    transition: all 300ms;
    border: 1px solid white;
}
.enviar{
    background-color: green !important;
    width: 100% !important;
}
.enviar:hover{
    background-color: white !important;
    color: rgb(0, 0, 0) !important;
    border: 1px solid green !important;

}

.button-small{
    text-align: center;
    width: 120px;   
    text-decoration: none;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: white;
    background-color: #1579b5;
    transition: all 300ms;
   }
   

   
   .button-small:hover{
    background-color: #e2e4e6;
    box-shadow: 2px 2px 5px rgb(182, 177, 177);
   }

   .button-small2{
    text-align: center;
    width: 120px;   
    text-decoration: none;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    color: white;
    background-color: #1579b5;
    transition: all 300ms;
   }
   .button-small2:hover{
    background-color: #e2e4e6;
    box-shadow: 2px 2px 5px rgb(182, 177, 177);
   }

label,input[type='button'],
input[type='submit'],
.thumb{
    width: 100px;
}
.button{
    display: block;
    margin-bottom: 10px;
    color: white;
}

input[type='button']:hover,
input[type='submit']:hover,
button:hover{
    background: #ffffff;
    color: black;
    cursor: pointer;
    border: 1px solid #1579b5;
   
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;


  
}

/*CENTRAL*/

#central{
    width: 71%;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding:25px;
    min-height: 500px;
}
#central h1{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
 
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
/*PRODUCTOS*/

.product{
    width: 30%;
    border: 1px solid #b4b2b242 ;
    box-shadow: 0px 7px 5px #3d3c3c42;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    
}
.button2{
    text-decoration: none;
    
    background-color: #1579b5;
text-align: center;
    
    border-radius: 2px;
    width: 30%;
    height: 20px;
    padding: 10px;
    color: white !important;
    background: #1579b5;
    transition: all 300ms;
    border: 1px solid white;
   
}

.button2:hover{
    background-color: rgb(253, 253, 255);
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 10px rgb(138, 136, 136);

}


.button_ver_carrito{
    margin-top: 30px !important;
}
.button{
    text-decoration: none;
    
    background-color: #1579b5;
text-align: center;
    margin-top: 10px;
    display: block;
    border-radius: 2px;
    width: auto;
    height: 20px;
    padding: 5px;
    color: white !important;
    background: #1579b5;
    transition: all 300ms;
    border: 1px solid white;
    
}
.button:hover{
    background-color: rgb(253, 253, 255);
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 10px rgb(138, 136, 136);

}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold ;
    color: #555;
    margin-bottom: 10px;
}
.product img{
    width: 100px;

}
.product a{
    text-decoration: none;
    transition: all 300ms;
}
.product a:hover{
    background-color: #1579b5;
}


/*FOOTER*/

#footer{
    clear: both;
    height: 60px;
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
    color: WHITE;
    background-color: #222;;
    border-top: 5px solid #01B1EA;
    margin-bottom: 30px;

}


/*TABLAS*/
table{
    
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;

    margin: auto;
    border: 1px solid #e2e0e09f;
    box-shadow: 2px 5px 3px rgba(170, 170, 170, 0.548);
}
td{
    border-top: 1px solid #5555559f;;
    border-width: 0px;
    padding: 10px;


  
}


th{
   padding: 10px;
    border-bottom: 1px solid #b6b2b29f;
}

.producto_only{
display: flex;
  width: 100%;
  height: 300px;
row-gap: 2;

}

.producto_only img{
    align-items: end;
    

}
.producto_only strong{
    margin-left: 30px;
    font-size: 18px;
    
}
.producto_only p{
    margin-left: 30px;
    margin-top: 7px;
    
}
.producto_only h2{
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
}
.producto_only a{
    margin-top: 160px;
    margin-left: 30px;
    padding: 10px;
    text-align: center; 
    color: white;
    width: 100%;
}


.carrito_producto{
    text-decoration: none;
   color: #000000 !important;
    transition: all 300ms;
}

.carrito_producto:hover{
  color: #01B1EA !important;
    
}
.img_producto{
    transition: all 500ms;
}
.img_producto:hover{
   
    border-bottom: 1px solid #01B1EA;
}
.total_carrito{
    float: right;
    padding: 5px;
}

